.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #1f2937; /* cinza escuro */
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
}

.sidebar a {
  text-decoration: none;
  color: #d1d5db;
  font-weight: 500;
}

.sidebar li.active a,
.sidebar a:hover {
  color: white;
}
